   
   
   <div id="Sale" class="hide">
       <div id="download-links">
        <a href="/export-sales_prev/"   class="download-report">Download Previous Month Report </a>
        <!-- &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  -->
        <a href="/export-sales/"  class="download-report">Download Current Month Report</a>
       </div> 
       <br><br>
        <div id="graph-sec">
            <canvas id="mychart"></canvas>
        </div>
    </div>

<!-- 
    I have two sales reports for my inventory management project.

File 1 (product_sales.xls) is the sales report for the current month.

File 2 (product_sales_prev.xls) is the sales report for the previous month.

Both files contain the same columns, including ProductName and TotalQuantity. As an analyst, please compare the sales data between these two files and provide suggestions for my inventory management system." -->